# Tarea1

### Librerias

In [1]:
import pandas as pd
import numpy as np

### Llamar .csv

In [2]:
df = pd.read_csv("/home/mata/mineria/actividades/1/tabla.csv")

### Visualizar datos

In [3]:
df.columns

Index(['movie_title', 'num_critic_for_reviews', 'duration',
       'DIRECTOR_facebook_likes', 'actor_3_facebook_likes',
       'ACTOR_1_facebook_likes', 'gross', 'num_voted_users',
       'Cast_Total_facebook_likes', 'facenumber_in_poster',
       'num_user_for_reviews', 'budget', 'title_year',
       'ACTOR_2_facebook_likes', 'imdb_score', 'title_year.1'],
      dtype='object')

In [4]:
df.dtypes

movie_title                   object
num_critic_for_reviews         int64
duration                     float64
DIRECTOR_facebook_likes       object
actor_3_facebook_likes         int64
ACTOR_1_facebook_likes         int64
gross                          int64
num_voted_users              float64
Cast_Total_facebook_likes    float64
facenumber_in_poster         float64
num_user_for_reviews           int64
budget                         int64
title_year                     int64
ACTOR_2_facebook_likes       float64
imdb_score                   float64
title_year.1                 float64
dtype: object

In [5]:
df.tail()

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

### El objetivo es una clasificación con los datos, asi que hay que acomodar los datos de manera que se nos facilite esta tarea.

#### Cambiar NA por 0 parecce buena manera para manejar solo numeros ya que 0 likes no importa

dataFrame0 = df.fillna(0)

In [7]:
dataFrame0.tail()

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,0.0
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,0,2000,15000,330249062,0.0,24450.0,0.0,3018,250000000,2016,0.0,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,0,903,18000,200069408,240396.0,0.0,2.0,2367,209000000,2006,10000.0,6.1,0.0
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

### Cambiar nombres de columnas

In [11]:
dataFrameColumns = dataFrame0.rename(columns = {'num_critic_for_reviews':'numeroDeCriticas',
                                                'DIRECTOR_facebook_likes':'directorLikes',
                                                'actor_3_facebook_likes':'actor3Likes'})

In [12]:
dataFrameColumns.columns

Index(['movie_title', 'numeroDeCriticas', 'duration', 'directorLikes',
       'actor3Likes', 'ACTOR_1_facebook_likes', 'gross', 'num_voted_users',
       'Cast_Total_facebook_likes', 'facenumber_in_poster',
       'num_user_for_reviews', 'budget', 'title_year',
       'ACTOR_2_facebook_likes', 'imdb_score', 'title_year.1'],
      dtype='object')

### Guardar otros archivos con agrupaciones.

In [19]:
clase1 = dataFrameColumns[dataFrameColumns['numeroDeCriticas']=='Clase1']
clase1.to_csv('clase1.csv',index=False)

### Responder las preguntas de interes.

#### Importancia del analisis previo de los datos antes de iniciar las modificaciones.
##### Normalmente los datos estan sucios es decir que tienen errores entre los diferentes campos ya sea acentos , diferentes formatos etc. La limpieza es igualar formatos, descartar campos borrar registros no utiles. Con los datos limpios uno ya puede hacer predicciones o descripciones.

## Tarea extras

### df.dropna()

#### El método dropna permite, de una forma muy conveniente, filtrar los valores de una estructura de datos pandas para dejar solo aquellos no nulos. Aplicado a un dataframe, el método pandas.DataFrame.dropna ofrece algo más de funcionalidad: podemos escoger si queremos eliminar filas o columnas, y si queremos eliminarlas cuando todos sus elementos sean nulos o simplemente cuando alguno de ellos lo sea.

### df.astype()

#### astype() método astype() cambia el tipo de letra de una serie y devuelve una nueva serie. astype() método astype() es para conversión de tipo específico (es decir, puede especificar .astype(float64') , .astype(float32) o .astype(float16) ). Para la conversión general, puede usar pd.to_numeric , pd.to_datetime y pd.to_timedelta .

### Realizar una tarea de preprocesamiento no mencionada en esta práctica.